<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.halfyak.etc.launchAgent.weekly</string>
    <key>ProgramArguments</key>
    <array>
      <string>${HALFYAK_ETC}/libexec/mail-on-fail</string>
      <string>${HALFYAK_ETC}/libexec/weekly</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Weekday</key>
      <integer>1</integer>
      <key>Hour</key>
      <integer>7</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>${HOME}/var/log/weekly.out</string>
    <key>StandardErrorPath</key>
    <string>${HOME}/var/log/weekly.err</string>
  </dict>
</plist>
